@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  background-color: $bg-cream;
  color: $dark;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
  color: $primary;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
